@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=League+Gothic&family=Mulish:wght@200;400&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display&family=Poppins:ital@0;1&family=Shizuru&family=Smooch+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito Sans', sans-serif;
}
.all-header{
    margin: auto;
    width: 1152px;

}

header{
    background: #F0C53E;
    height: 870px;

    margin-bottom: 100px;

    
}
menu{
    display: flex;
    justify-content: space-between;
    align-items: center; 

}
menu ul li{
    display: inline;
    padding: 35px;
    font-weight: bold;
}
.header-logo{
    margin-top: 25px;
}
.contack-btn{
    background-color: #B25A59;
   padding:12px 35px;
border-radius: 50px;
display: flex;
align-items: center;
color: white;

margin-top: 25px;
}
.contack-btn p{
    margin-left: 20px;
}
.header-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-img img{
 width: 90%;
 margin-left: 80px;
}
.header-text h2{
    margin-bottom: 35px;
}
.header-parahgraph{
 margin-bottom: 40px;
}
.header-title{
    color: #7F2736;
}
.header-title2{
    color:black;
}

.contack-btn2{
    margin-bottom: 30px;
  display: flex;
 align-items: center;
}
.explore-btn{
 height:50px;
 width: 250px ;
 border-radius: 50px;
 color: white;
 background-color:#B25A59;
 border: transparent;
 font-weight: bold;
 margin-bottom: 60px;

}
.watch-btn{
    display: flex;
 
    align-items: center;
}
.watch-btn img{
    width: 120px;
 
}
.promotional-text{
    text-align: center;
}
.promotional-text h2{
  margin-bottom: 20px;
}
.promotional-text p{
    margin-bottom: 40px;
    color: #2C2D32;
}
.promotional-title{
    color: #7F2736;
}
.promotional-title2{
    color:#2C2D32;
}
.promotional-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.promotional-box img{
  width: 140%;
  height: 100%;
}
.container{
    margin: auto;
    width: 1152px;
}
*{
    padding: 0;
    margin: 0;
}
.promotional-box{
    padding: 0px 40px;
}
.promotional-box p{
    color: #7F2736;
    text-align: center;
}
.Promotional-Tour{
margin-bottom: 100px;

}

.global-text{
    text-align: center;
}
.global-title{
    color: #7F2736;
}
span{
    color: #2C2D32;
  
}
.global-text h2{
    margin-bottom: 20px;
}
.global-text p{
    margin-bottom: 30px;
    color: #2C2D32;
    line-height: 25px;
}
.global-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
align-items: center;

}
.global-img img{
    width: 120%;
 position: relative;
}
.global-box{
 
 margin: 0px 45px;
 position: relative;
margin-bottom: 30px;
}
.global-bg{
    transform: translate(0.3s);
}
  .global-texted{
    z-index: 1;
position: absolute;
top: 35%;
left: 40%;
  } 
.global-box:hover .global-bg{
    width:495px;
    height: 453px;
    background-color: #7F2736;
    position: absolute;
    top: 0;
   opacity: 0.9;
}
.global-texted h2{
    color: white;
}
.start-btn{
    padding: 15px 45px;
    border-radius: 45px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-weight: bold;
    margin-top: 15px;
} 
.global-section{
    margin-bottom: 100px;
}

.lattest-tour{
    display: flex;
    margin-bottom: 10%;
}
.lattest-img img{
    width: 550px;
    margin-left: 60px;
}
.lattest-details img{
width: 80px;

}
.class-service-box{
    display:flex ;
    align-items: center;
margin-bottom: 30px;

}
.class-service-box h2{
    position: absolute;
    margin-left: 30px;
}
.lattest-title{
    color: #7F2736;
}
.lattest-title2{
    color: #2C2D32;
}
.lattest-details p{
    margin-bottom: 20px;
}
.learn-btn{
    padding: 20px 0px;
    background-color: transparent;
    border: transparent;
    color: #EE5060;
    font-weight: bold;
}
.our-text{
    text-align: center;
    margin-bottom: 40px;
}
.our-text h1{
margin-bottom: 20px;
}
 .our-title2{
     color: #2C2D32;
 }   
.our-title{
    color: #7F2736;
}
.our-team-review{
display: flex;
align-items: center;
}
.our-team-img img{
    width: 90%;
}
.our-icon-text{
    display: flex;
    margin-bottom: 30px;
}
.our-details h2{
    margin-bottom: 20px;
}
.our-icon-text{
    line-height: 25px;
}
.icon-img{
    margin-top: 20px;
    padding: 0px 25px;
    
}
.icon-img img{
    background: #FBFBFB;
    box-shadow: 0px 25px 44px rgba(13, 15, 28, 0.12);

  

}
.our-team{
    margin-bottom: 100px;
}
.our-title2{
    color: #7F2736;
}
.choose-us-title{
    color: #7F2736;
}
.choose-us-text{
    text-align: center;
}
.choose-us-text p{
margin-bottom:50px ;
line-height: 25px;
}
.choose-us-text h1{
    margin-bottom: 20px;
}
.choose-us-box{
background: #FFFFFF;
box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
border-radius: 20px;
padding: 60px 40px ;
height: 300px; 
position: relative;
margin-bottom: 100px;
}
.choose-us2{
display: grid;
grid-template-columns: repeat(3,1fr);
align-items: center;
column-gap: 60px;

}
.choose-img img{
    width: 120px;
    position: absolute;
    top: -13%;
    text-align: center;
}
.choose-paragraph h2{
    margin-bottom: 40px;
    margin-top: 25px;
    color: #7F2736;
}
.choose-paragraph p{
    line-height: 25px;
}
.customer-img img{
    width: 500px;
    margin-left: 120px;
}
.customer-say{
    display: flex;
    margin-bottom: 100px;
}
.underline-text img{
   width: 60px;
   height: 2px;
   margin-top: 20px;
}
.underline-text{
    display: flex;
    margin-bottom: 25px;
}
.customer-details h1{
    margin-bottom: 25px;
}
.customer-details p{
    margin-bottom: 20px;
}
.customer-review img{
    width: 120px;
}
.customer-review{
    background: #FFFFFF;
    box-shadow: 2px 4px 60px rgba(41, 44, 124, 0.1);
    border-radius: 20px;
    height: 350px;
    width: 550px;
    padding: 30px 50px;
    position: absolute;
    top: 60%;
    left: 30%;
border-left: 10px solid #EE5060;
}
.customer-img{
    position: relative;
}
.name-title{
margin-top: 30px;
align-items: center;
}
.str-img{
    margin-left: 190px;
}
.rewiew{
margin-left: 150px;
}
.btn-tir2{
    width: 25px;
font-weight: bold;
position: absolute; 

}
.btn-tir{
    padding: 13px 35px;
    border: 1px solid #EE5060;
box-sizing: border-box;
border-radius: 80px;

  background-color: transparent;
  color: #EE5060;
}
.resouces-text{
    text-align: center;
    margin-bottom: 50px;
margin-top: 200px;
}
.resouces-text h3{
    margin-bottom: 15px;
    color: #7F2736;
}
section{
margin-bottom: 100px;

}
.read-btn{
    padding: 20px 0px;
    background-color: transparent;
    border: transparent;
    color: #EE5060;
    font-weight: bold;
}
.resours-img-text img{
width: 135%;
margin-right: 20%;
}
.resours-img-text h2{
margin-bottom: 30px;
margin-top: 30px;
}
.news{
    background: #F0C53E;
border-radius: 50px;
padding: 5px 15px;
margin-top: 20px;
border: transparent;
}

.resour-display-flex2{
 display: flex;

}
.resource-img-details{
    display: flex;
    /* align-items: center;  */
width: 700px;
margin-left:30%;
}
.resource-img-details1{
    margin-left: 40px;

}
.newated{
 position: absolute;

 background: #F0C53E;
 border-radius: 50px;
 padding: 3px 20px;
 margin-top: 50px;
 border: transparent;
margin-top: 150px;
margin-left: 160px;
}
.resource-img-details .rectangle{
    margin-top: 40px;
}
.resource-img .rectangle{
    position: relative;


}
.resource-details{
  margin-left: 45px;
align-items: center;
margin-top: 40px;
}
.resource-detailss{
    margin-left: 45px;
    align-items: center;
}
.resource-detailss h2{
    color: #7F2736;
    margin-bottom: 20px;
}
.resource-detailss p{
    line-height: 30px;
}
.resource-details h2{
    color: #7F2736;
    margin-bottom: 20px;
}
.resource-details p{
    line-height: 30px;
}

.newss{
    border: transparent;
    background-color: transparent;
}
.press-btn{
    position: absolute;
  margin-left: 100px;
  margin-top: 110px;
  
}
.resource-img img{
    position: relative;
}
.press-btn2{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #F0C53E;
  border: transparent; 
}
.footer-logo-text{
    display: flex;
    align-items: center;
    justify-content: center;
padding: 50px;
}
footer{
    background-color: #7F2736;
    width: 100%;
height:600px;
margin-bottom: 500px;
}
.footer-logo-text img{
    margin-right: 50px;
}
.footer-logo-text p{
    color: white;
    font-weight: bold;
    line-height: 30px;
  
}
.subscribe{
text-align: center;
margin-top: 30px;
}
.double-btn-box{
    margin-top: 30px;
}
.subscribe-text{
    color: #F0C53E;

}
.email{
    border: 1px solid #F0C53E;
    box-sizing: border-box;
    border-radius: 80px;
    width: 400px;
height: 60px;
color: white;
background-color: transparent;

font-weight: bold;
}
.subs{
    background: linear-
    gradient(105.5deg, #EE5060 19.57%, #B25A59 78.85%);
border-radius: 80px;
width: 179px;
height: 60px;
    border: transparent;
    background-color:#EE5060 ;
    margin-left: 20px;
    color: white;
    font-weight: bold;
}
.footer-output{
text-align: center;
color: #A7283E;
margin-top: 150px;
}
.output{
    margin-top: 20px;
color: #A7283E;
}